@font-face {
  font-family: 'Web Font';
  src: url('font.eot');
  src:
    url('font.eot?#font-spider') format('embedded-opentype'),
    url('font.woff2') format('woff2'),
    url('font.woff') format('woff'),
    url('font.ttf') format('truetype'),
    url('font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Web Font';
}