@font-face {
  font-family: Kai;
  src: local("Kaiti TC"), local("Kaiti SC"), local("STKaiti"), local("AR PL UKai HK"), local("AR PL UKai TW"), local("AR PL KaitiM GB"), local(DFKai-SB), local(KaiTi), local(KaiTi_GB2312);
  font-style: italic;
}


@font-face {
  font-family: Fangsong;
  src: local("Adobe Fangsong Std R"), local("STFangsong"), local("FangSong"), local("FangSong_GB2312"), local("CWTEX-F");
  font-style: italic;
}


@font-face {
  font-family: Hei;
  src: local("PingFang HK"), local("PingFang TC"), local("PingFang SC"), local("Hiragino Sans GB"), local("Source Han Sans K"), local("Source Han Sans KR"), local("Source Han Sans"), local("Source Han Sans TW"), local("Source Han Sans SC"), local("Microsoft Jhenghei"), local("Microsoft Jhenghei"), local("Microsoft Jhenghei"), local("Microsoft Jhenghei"), local("Microsoft Yahei"), local("SimHei"), local("Wenquanyi Micro Hei"), local("ST Heiti"), local("WenQuanYi Zen Hei Sharp");
}
