/*fallback fonts*/

@import 'https://cjkwebfonts.now.sh/shuei-maru-fallback/fallback-test.css', 'https://cjkwebfonts.now.sh/Fallback-TenMincho-20200318/css.css', 'https://cjkwebfonts.now.sh/GenSekiGoL20200318/css.css';

/*font goes below*/

blockquote {
	font-family:ten-mincho, "Ten Mincho Fallback", serif;
}
	
/*body {
	font-family: source-han-sans-cjk-ko, sans-serif;
}*/

body {
	font-family: GenSekiGoL, sans-serif;
}

.post-list li a, h1, h2, h3, h4, h5, h6 {
  font-family: "Shuei NijimiMGo B JIS2004", "Shuei Maru Fallback", sans-serif;
  font-weight: normal;
  font-style: normal;
  /*font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;*/
}

p a {
  color: $color_21;
  text-decoration: none;
  border-bottom: 1px solid #90CAF9;
  box-shadow: inset 0 -4px 0 #90CAF9;
  transition: background 0.4s ease-out;
  &:link {
    color: $color_21;
  }
  &:hover, &:focus {
    color: rgba(0,0,0,0.87);
    background: #90CAF9;
  }
  &:active, &:hover {
    outline: 0;
  }
}

// nav-btn
.post-title a {
  color: $color_21;
}

p.disqus-error {
  font-family: sans-serif;
}
