/*fallback fonts*/
@font-face {  
font-family: 'Shuei Maru Fallback';  
/*font-style: normal;  
font-weight: 400;  */
font-display: swap;  
src: url(https://cjkwebfonts.now.sh/shuei-maru-fallback/fallback.woff2) 
format('woff2');  
unicode-range: U+4E1F,U+4E2B,U+4E52,U+4E53,U+4EFD,U+4EFF,U+4F60,U+4F6C,U+4F84,U+4F97,U+4FCF,U+4FDE,U+4FF1,U+5018,U+503C,U+5077,U+5088,U+50A3,U+50BB,U+50F3,U+5108,U+5167,U+51F3,U+5201,U+5228,U+5241,U+526E,U+528A,U+5361,U+53E6,U+53FC,U+541E,U+5427,U+5431,U+5433,U+5435,U+5436,U+5462,U+5478,U+5495,U+5496,U+54B1,U+54C6,U+54CE,U+54EA,U+54FC,U+5501,U+5509,U+552C,U+5543,U+554A,U+555F,U+5561,U+5564-5566,U+556A,U+55B2,U+55B3,U+55BB,U+55C6,U+55CE,U+55D3,U+55E1,U+560E,U+563B,U+563F,U+5676,U+568E,U+56A8,U+56B7,U+56E4,U+56EA,U+573E,U+574D,U+576F,U+5777,U+5783,U+579B,U+57AE,U+57C2,U+584C,U+588A,U+5892,U+58A9,U+58E9,U+5920,U+592F,U+5976,U+5979,U+5992,U+59AE,U+59EC,U+5A1B,U+5AB3,U+5B38,U+5B7D,U+5B7F,U+5C5C,U+5DCB,U+5DE2,U+5E15,U+5E6B,U+5F64,U+607F,U+60A8,U+60CB,U+60E6,U+618B,U+61A8,U+61C2,U+6236,U+6252,U+6254,U+6266,U+626D,U+626F,U+6273,U+62A8,U+62BF,U+62C4,U+62CE,U+62D6,U+62F4,U+62FC,U+62FD,U+630E,U+6316,U+632A,U+6342,U+6345,U+6346,U+634E,U+6382,U+6384,U+6387,U+6390,U+6399,U+63CD,U+63EA,U+63ED,U+6410,U+641E,U+642A,U+643D,U+6454,U+645F,U+6473,U+6479,U+647B,U+6482,U+6485,U+6487,U+6490,U+64A3,U+64AC,U+64BE,U+64BF,U+64C4,U+64CA,U+64CB,U+64F0,U+64FB,U+6506,U+650F,U+6514,U+6519,U+664C,U+665A,U+667E,U+66C6,U+6735,U+67D2,U+67E5,U+6845,U+684C,U+6886,U+68F1,U+68F5,U+6986,U+69A8,U+69B7,U+69F3,U+6A01,U+6AE5,U+6B65,U+6B67,U+6B72,U+6B77,U+6BCF,U+6BD7,U+6C16,U+6C1F,U+6C26-6C28,U+6C2B,U+6C2E-6C30,U+6C5B,U+6C61,U+6C89,U+6C8F,U+6CF5,U+6D31,U+6D89,U+6DAA,U+6DC4,U+6DD6,U+6E34,U+6E89,U+6EC1,U+6EC7,U+6F1A,U+6F33,U+6F5E,U+6F87,U+6FF0,U+7064,U+7076,U+7094,U+7095,U+70D8,U+70E4,U+70EF,U+70F4,U+70F7,U+710A,U+715E,U+7192,U+71D9,U+71F4,U+7238,U+7239,U+7319,U+73AB,U+74E4,U+7522,U+7529,U+752D,U+7599,U+75A4,U+75FA,U+7613,U+7626,U+7629,U+7638,U+765F,U+7671,U+76C5,U+76CE,U+76D4,U+76EF,U+76FC,U+7728,U+7736,U+773E,U+775C,U+776C,U+7784,U+7785,U+7787,U+77A7,U+77AA,U+77FD,U+780D,U+7830,U+7837,U+7838,U+7852,U+7889,U+7898,U+789F,U+78B0,U+78B3,U+78B4,U+78D5,U+78F7,U+78FA,U+79F8,U+7A05,U+7B77,U+7BD9,U+7BE1,U+7C6E,U+7C7D,U+7CD5,U+7CD9,U+7D09,U+7D55,U+7D81,U+7DE3,U+7E73,U+7F3D,U+7FDF,U+7FF1,U+800D,U+802A,U+80F0,U+80F3,U+80FA,U+8116,U+8198,U+819B,U+81C3,U+8200,U+8214,U+82EF,U+832C,U+8354,U+8386,U+83CF,U+852B,U+8611,U+8638,U+869C,U+86C0,U+879E,U+8932,U+8AAA,U+8B05,U+8B0A,U+8B95,U+8CD2,U+8CEC,U+8D1B,U+8D9F,U+8DB4,U+8DD1,U+8DFA,U+8E22,U+8E29,U+8E4B,U+8E66,U+8E6C,U+8E6D,U+8EA5,U+8EB2,U+8EBA,U+8F25,U+8FA6,U+901B,U+90A2,U+90DD,U+90F4,U+9109,U+9116,U+9157,U+915A,U+915E,U+916E,U+9176,U+919A,U+919B,U+919E,U+91E9,U+91EC,U+9209,U+9223,U+923E,U+927B,U+92A5,U+92B3,U+92BB,U+92C1,U+92C5,U+92C7,U+9304,U+9333,U+9341,U+9358,U+937A,U+9382,U+938A,U+93A2,U+93B3,U+93DF,U+942E,U+9433,U+9472,U+95A1,U+95A9,U+95B1,U+9661,U+96DE,U+975B,U+9773,U+9776,U+97CC,U+9839,U+9935,U+995E,U+99B1,U+9AAF,U+9AD2,U+9B03,U+9C49,U+9E7C,U+9F90,U+9F94;}

/*font goes below*/

blockquote {
	font-family:ten-mincho, serif;
}
	
body {
	font-family: source-han-sans-cjk-ko, sans-serif;
}

.post-list li a, h1, h2, h3, h4, h5, h6 {
  font-family: "Shuei NijimiMGo B JIS2004", "Shuei Maru Fallback", sans-serif;
  font-weight: normal;
  font-style: normal;
  /*font-variant-ligatures: common-ligatures;
  -webkit-font-variant-ligatures: common-ligatures;
  webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;*/
}

p a {
  color: $color_21;
  text-decoration: none;
  border-bottom: 1px solid #90CAF9;
  box-shadow: inset 0 -4px 0 #90CAF9;
  transition: background 0.4s ease-out;
  &:link {
    color: $color_21;
  }
  &:hover, &:focus {
    color: rgba(0,0,0,0.87);
    background: #90CAF9;
  }
  &:active, &:hover {
    outline: 0;
  }
}

// nav-btn
.post-title a {
  color: $color_21;
}

p.disqus-error {
  font-family: sans-serif;
}
